/*
para estandarizar las medidas de texto en los sitios web es necesario darle unas medidas específicas tanto al html como al body
*/


html{
    font-size: 62.5%;
}
body{
    background-color: darkgray;
    font-size: 16px;
    font-family: 'Allerta', sans-serif;
}

/* a partir de aquí, 1rem = 10px */

.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}

h1.titulo{
    color: rgb(33, 33, 175)
}

.contenedor{
    /*width: 60%;*/
    max-width: 120rem;
    margin-top: 0 auto;
    /* otra forma de poner márgenes es */
    /*margin: valor-margin-tpo valor-margin-right valor-margin-buttom valor-margin-left*/
}

.nav-bg{
    background-color: cadetblue;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;    /*No es necesario declarar row, viene por defecto*/
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: whitesmoke; /*se da color a la barra de navegación*/
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;


}

.navegacion-principal a:hover{
    background-color: rgb(75, 210, 30);
    color: blue;
}

/* ********** PARA CREAR SITIOS WEB RESPONSIVES ********** */

@media (min-width: 480px){
    body{
        background-color: pink;
    }
}

@media (min-width: 768px){
    body{
        background-color: cornflowerblue;
    }
}
