/*
para estandarizar las medidas de texto en los sitios web es necesario darle unas medidas específicas tanto al html como al body
*/


html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Allerta', sans-serif;
}

/* a partir de aquí, 1rem = 10px */

.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}

h1.titulo{
    color: rgb(33, 33, 175)
}

.contenedor{
    width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.navegacion-principal{
    background-color: cadetblue; /*se da color a la barra de navegación*/
}